* {
    font-family: "Zain", sans-serif !important;
    font-style: normal;
    font-size: 15px;
}

.rtl {
    direction: rtl;
    text-align: right;
}

img {
    width: 70%;
}

.zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
}

iframe {
    width: 100%;
    height: calc((100vw - 400px)/1.78);
    max-height: calc(100vh - 100px);
}

#video_list {
    height: calc((100vw - 400px)/1.78);
    max-height: calc(100vh - 100px);
}

.remove-category:hover {
    color: red !important;
}

.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #fff;
}
.w3-ul li:hover {
    background-color: lightgrey !important;
    cursor: pointer; 
    color: black !important;   
}
.w3-ul li:hover .w3-button{
    color: red !important;   
}


button img {
    width: 20px;
}
#img_video_picture {
    width: 80px;
}

#img_video_picture {
    width: 60px; padding-top: 3px; padding-right: 3px;
}
#txt_video_title {
    font-size: 20px;
}

.progress-bar div{
    height: 2px !important;
}

#search_results img {
    width: 120px;
    height: 90px;
}
#search_results {
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.w3-modal .w3-button {
    padding: 3px 16px;
}

#txt_search {
    width: calc(100% - 72px - 86px);
}
#sel_order {
    width: 83px;
}

#modal_search .w3-modal-content {
    width: 97vw;
}

#ctr_search_results {
    width: 35%;
}

#player2 {
    width: 100%;
    height: calc(100vh - 290px);
}

.w3-modal {
    padding-top: 40px !important;
}
h4 {
    margin: 3px 0px;
}


input, select {
    height: 27.2px;
}


#video_list li {
    padding: 0px!important;
    margin: 0px !important;
}

#video_list li img {
    width: 70px;
    height: 52.5;
}


#recent_search_plays img {
    width: 20px;
}
#recent_search_plays {
    width: 500px;
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}

#recent_searchs {
    width: 300px;
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}